/*Configurações Menu->Geral*/
.menu{
	margin: -10px ;
	padding-left:27%;
	width:100%;
	height:100px;
	background-color:#444;
}
.menu ul {
	display: flex;
	margin:auto;
	list-style-type:none;
}
.menu ul li{
	font-size:30px;
	padding-top:25px;
	padding-right:5%;
	text-align:center;
}
.link{
	text-decoration:none;
	color:#fff;
}
.link_ativo{
	text-decoration:none;
	color:#00FF7F;
}
.link:hover{
	text-decoration:underline;
}
/*Configurações Body->Geral*/
body {
	overflow-x: hidden;
	background-color:#FFDEAD;
}
/*Configurações Body->Index*/
.chamada{
	padding-top:100px;
	text-align:center;
	font-size:30px;
	font-family:impact;
}

